<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinri.dao.dictionary.DictionaryMapper">
    <resultMap id="dictionaryResultMap" type="com.xinri.po.dictionary.Dictionary">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="DIC_KEY" property="dicKey" jdbcType="VARCHAR"/>
        <result column="DIC_VALUE" property="dicValue" jdbcType="VARCHAR"/>
        <result column="DIC_PID" property="dicPid" jdbcType="BIGINT"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="LEVEL_ID" property="levelId" jdbcType="BIGINT"/>
        <result column="SORT" property="sort" jdbcType="INTEGER"/>
        <result column="PATH" property="path" jdbcType="VARCHAR"/>
        <result column="DICTIONARY_TYPE" property="dictionaryType" jdbcType="VARCHAR"/>
        <result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER"/>
        <result column="IS_DELETED" property="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 列定义 -->
    <sql id="dictionaryColumns">
	  t.ID,
	  t.DIC_KEY,
	  t.DIC_VALUE,
	  t.DIC_PID,
	  t.TYPE,
	  t.LEVEL_ID,
	  t.SORT,
	  t.PATH,
	  t.DICTIONARY_TYPE,
	  t.IS_DELETED
  	</sql>

    <!-- 查询条件SQL -->
    <sql id="whereColumnBySelect">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="id != null">
                AND t.ID = #{id}
            </if>
            <if test="dicKey != null and dicKey !=''">
                AND t.DIC_KEY = #{dicKey}
            </if>
            <if test="dicValue != null and dicValue !=''">
                AND t.DIC_VALUE = #{dicValue}
            </if>
            <if test="dicPid != null">
                AND t.DIC_PID = #{dicPid}
            </if>
            <if test="type != null and type !=''">
                AND t.TYPE = #{type}
            </if>
            <if test="levelId != null">
                AND t.LEVEL_ID = #{levelId}
            </if>
            <if test="sort != null">
                AND t.SORT = #{sort}
            </if>
            <if test="path != null and path !=''">
                AND t.PATH = #{path}
            </if>
            <if test="dictionaryType != null and dictionaryType !=''">
                AND t.DICTIONARY_TYPE = #{dictionaryType}
            </if>
            <if test="isDeleted != null">
                AND t.IS_DELETED = #{isDeleted}
            </if>
        </trim>
    </sql>

    <!-- 修改字段SQL -->
    <sql id="whereColumnByUpdate">
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null">
                t.ID = #{id},
            </if>
            <if test="dicKey != null">
                t.DIC_KEY = #{dicKey},
            </if>
            <if test="dicValue != null">
                t.DIC_VALUE = #{dicValue},
            </if>
            <if test="dicPid != null">
                t.DIC_PID = #{dicPid},
            </if>
            <if test="type != null">
                t.TYPE = #{type},
            </if>
            <if test="levelId != null">
                t.LEVEL_ID = #{levelId},
            </if>
            <if test="sort != null">
                t.SORT = #{sort},
            </if>
            <if test="path != null">
                t.PATH = #{path},
            </if>
            <if test="dictionaryType != null">
                t.DICTIONARY_TYPE = #{dictionaryType},
            </if>
            <if test="isDeleted != null">
                t.IS_DELETED = #{isDeleted},
            </if>
        </trim>
    </sql>

    <!-- 根据主键ID获取数据 -->
    <select id="get" parameterType="com.xinri.po.dictionary.Dictionary" resultMap="dictionaryResultMap">
        SELECT <include refid="dictionaryColumns" />
        FROM DICTIONARY t
        WHERE t.ID = #{id}
    </select>
    <!-- 查询列表可以根据分页进行查询 -->
    <select id="findList" parameterType="com.xinri.po.dictionary.Dictionary" resultMap="dictionaryResultMap">
        SELECT
        <include refid="dictionaryColumns" />
        FROM DICTIONARY t
        <include refid="whereColumnBySelect" />
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY t.ID DESC
            </otherwise>

        </choose>
    </select>

    <!-- 查询所有列表 -->
    <select id="findAllList" parameterType="com.xinri.po.dictionary.Dictionary" resultMap="dictionaryResultMap">
        SELECT
        <include refid="dictionaryColumns" />
        FROM DICTIONARY t
        <include refid="whereColumnBySelect" />
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY  t.ID DESC
            </otherwise>

        </choose>


    </select>

    <!-- 根据条件查询对象 -->
    <select id="getByEntity" parameterType="com.xinri.po.dictionary.Dictionary" resultMap="dictionaryResultMap">
        SELECT <include refid="dictionaryColumns" />
        FROM DICTIONARY t
        <include refid="whereColumnBySelect"></include>
    </select>

    <!-- 新增并设置主键ID至参数对象 -->
    <insert id="insert" parameterType="com.xinri.po.dictionary.Dictionary">

		INSERT INTO DICTIONARY
			(ID, DIC_KEY, DIC_VALUE, DIC_PID, TYPE, LEVEL_ID, SORT, PATH, DICTIONARY_TYPE,IS_DELETED)
		VALUES
			(#{id}, #{dicKey}, #{dicValue}, #{dicPid}, #{type}, #{levelId}, #{sort}, #{path}, #{dictionaryType},#{isDeleted})
	</insert>
    <!-- 新增并设置主键ID判断哪些列不为空时，则进行插入 -->
    <insert id="insertSelective" parameterType="com.xinri.po.dictionary.Dictionary" useGeneratedKeys="true" keyProperty="id" >

        INSERT INTO DICTIONARY
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null">
                ID,
            </if>
            <if test="dicKey != null">
                DIC_KEY,
            </if>
            <if test="dicValue != null">
                DIC_VALUE,
            </if>
            <if test="dicPid != null">
                DIC_PID,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="levelId != null">
                LEVEL_ID,
            </if>
            <if test="sort != null">
                SORT,
            </if>
            <if test="path != null">
                PATH,
            </if>
            <if test="dictionaryType != null">
                DICTIONARY_TYPE,
            </if>
            <if test="isDeleted != null">
                IS_DELETED,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dicKey != null">
                #{dicKey,jdbcType=VARCHAR},
            </if>
            <if test="dicValue != null">
                #{dicValue,jdbcType=VARCHAR},
            </if>
            <if test="dicPid != null">
                #{dicPid,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="levelId != null">
                #{levelId,jdbcType=BIGINT},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="dictionaryType != null">
                #{dictionaryType,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!-- 根据主键ID进行修改 -->
    <update id="update" parameterType="com.xinri.po.dictionary.Dictionary">
        UPDATE DICTIONARY t
        <include refid="whereColumnByUpdate"></include>
        <where>
            t.ID = #{id,jdbcType=BIGINT}
        </where>
    </update>

    <!-- 根据条件进行修改 -->
    <update id="updateByCondition" parameterType="com.xinri.po.dictionary.Dictionary">
        UPDATE DICTIONARY t
        <include refid="whereColumnByUpdate"></include>
        <where>${whereSqlParam}</where>
    </update>

    <!-- 根据主键ID进行逻辑删除 -->
    <update id="delete" parameterType="com.xinri.po.dictionary.Dictionary">
		UPDATE DICTIONARY t SET
		t.IS_DELETED = 1
		WHERE t.ID = #{id,jdbcType=BIGINT}
	</update>

    <!-- 根据主键ID进行批量逻辑删除 -->
    <update id="batchDelete" parameterType="java.util.List">
        UPDATE DICTIONARY t SET
        t.IS_DELETED = 1
        WHERE t.ID IN
        <foreach item="item" collection="list" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- 根据条件进行逻辑删除 -->
    <update id="deleteByEntity" parameterType="com.xinri.po.dictionary.Dictionary">
        UPDATE DICTIONARY t SET
        t.IS_DELETED = 1
        <include refid="whereColumnBySelect"/>
    </update>

    <!-- 根据主键ID进行物理删除 -->
    <delete id="remove" parameterType="com.xinri.po.dictionary.Dictionary">
		DELETE FROM DICTIONARY
		WHERE ID = #{id,jdbcType=BIGINT}
	</delete>

    <!-- 根据主键ID进行批量物理删除 -->
    <delete id="batchRemove" parameterType="java.util.List">
        DELETE FROM DICTIONARY t
        WHERE t.ID IN
        <foreach item="item" collection="list" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 根据条件进行物理删除 -->
    <update id="removeByCondition" parameterType="com.xinri.po.dictionary.Dictionary">
        DELETE FROM DICTIONARY t
        <where>${whereSqlParam}</where>
    </update>
    <resultMap id="dictionaryVoMap" type="com.xinri.vo.dictionary.DictionaryVo" extends="dictionaryResultMap" >
        <result column="DIC_VALUE" property="text" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findListByVo" parameterType="com.xinri.vo.dictionary.DictionaryVo" resultMap="dictionaryVoMap">
        SELECT
        <include refid="dictionaryColumns" />
        FROM DICTIONARY t
        <!--<include refid="whereColumnBySelect" />-->
        ORDER BY SORT
    </select>

    <select id="test" resultType="int">
        SELECT
        count(*)
        FROM DICTIONARY
    </select>

    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO dictionary
        (DIC_KEY, DIC_VALUE, DIC_PID, TYPE, LEVEL_ID, SORT,REMARK,DICTIONARY_TYPE)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.dicKey,jdbcType=VARCHAR},
            #{item.dicValue,jdbcType=VARCHAR},
            #{item.dicPid,jdbcType=BIGINT},
            #{item.type,jdbcType=VARCHAR},
            #{item.levelId,jdbcType=BIGINT},
            #{item.sort,jdbcType=INTEGER},
            #{item.remark,jdbcType=VARCHAR},
            #{item.dictionaryType,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

</mapper>


