body {
	color: #333333;
	background-color: #FFFFFF;
}

a,
a:hover {
	text-decoration: none;
}

.page-header.navbar {
	background: -webkit-linear-gradient(left, #995aff, #5ca3ff);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #995aff, #5ca3ff);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #995aff, #5ca3ff);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #995aff, #5ca3ff);
	/* 标准的语法 */
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#995aff", endColorstr="#5ca3ff", gradientType="1");
}

.page-header.navbar .page-logo .logo-default {
	margin: 21px 5px 0 0;
	line-height: 0;
	vertical-align: sub;
}

.page-header.navbar .page-logo {
	width: 235px;
}

.page-header.navbar .page-logo a,
.page-header.navbar .page-logo a:hover {
	color: #FFFFFF;
}

.page-logo span {
	font-size: 22px;
	font-weight: 600;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
	margin: 0;
}

.page-header.navbar .page-top {
	height: auto;
	padding: 21px 10px;
}

.page-header.navbar .menu-toggler.responsive-toggler {
	margin: 0;
}

.page-header.navbar .search-form {
	margin: 0 20px 0 0;
	background: none;
}

.page-header.navbar .top-menu a {
	padding: 0 10px;
	font-weight: 300;
}

.page-header.navbar .top-menu a,
.page-header.navbar .top-menu a:hover {
	color: #FFFFFF;
}

.page-header.navbar .top-menu a img {
	margin: 0 5px 0 0;
}

.page-header.navbar .top-menu a i {
	margin-right: 5px;
}

.page-container,
.page-content-wrapper .page-content {
	padding: 0;
}

.page-sidebar.navbar-collapse {
	border-right: 1px solid #d8d5db;
	background-color: #efe5ff;
	color: #333;
}

.page-sidebar .page-sidebar-menu>li.active.open>a,
.page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
	background-color: initial;
	color: #333;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
	border-left: 2px solid #995AFF !important;
	background-color: #e0ccff !important;
	color: #333;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>i,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>i,
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>i,
.page-sidebar .page-sidebar-menu>li>a>i[class*=icon-],
.page-sidebar .page-sidebar-menu>li>a>i[class^=icon-],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*=icon-],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^=icon-],
.page-sidebar .page-sidebar-menu>li.active.open>a>i,
.page-sidebar .page-sidebar-menu>li.active>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>i,
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class*=icon-],
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class^=icon-],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class*=icon-],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class^=icon-],
.page-sidebar .page-sidebar-menu>li>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
	color: #333;
}