<?xml version="1.0" encoding="UTF-8"?>
<!--创建人:汪震-->
<!--创建时间:20180813-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinri.dao.moduleInfo.ModuleInfoesMapper">
	<resultMap id="moduleInfoesResultMap" type="com.xinri.po.moduleInfo.ModuleInfoes">
		   <id column="ID" property="id" jdbcType="BIGINT"/>
	      	<result column="NAME" property="name" jdbcType="VARCHAR"/>
	      	<result column="CODE" property="code" jdbcType="VARCHAR"/>
	      	<result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR"/>
	      	<result column="IS_MENU" property="isMenu" jdbcType="INTEGER"/>
	      	<result column="IS_OPEN" property="isOpen" jdbcType="INTEGER"/>
	      	<result column="DEPTH" property="depth" jdbcType="INTEGER"/>
	      	<result column="PARENT_MODULE_ID" property="parentModuleId" jdbcType="BIGINT"/>
	      	<result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER"/>
	      	<result column="DESCR" property="descr" jdbcType="VARCHAR"/>
	      	<result column="GUID_ID" property="guidId" jdbcType="VARCHAR"/>
	      	<result column="MENU_TYPE" property="menuType" jdbcType="INTEGER"/>
			<result column="SORT" property="sort" jdbcType="INTEGER"/>
	      	<result column="IS_EFFECTIVE" property="isEffective" jdbcType="INTEGER"/>
	      	<result column="EFFECTIVE_DATE_START" property="effectiveDateStart" jdbcType="TIMESTAMP"/>
	      	<result column="EFFECTIVE_DATE_END" property="effectiveDateEnd" jdbcType="TIMESTAMP"/>
	      	<result column="CREATED_ON" property="createdOn" jdbcType="TIMESTAMP"/>
	      	<result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR"/>
	      	<result column="MODIFIED_ON" property="modifiedOn" jdbcType="TIMESTAMP"/>
	      	<result column="MODIFIED_BY" property="modifiedBy" jdbcType="VARCHAR"/>
	      	<result column="DESC_FLEX_FIELD1" property="descFlexField1" jdbcType="VARCHAR"/>
	      	<result column="DESC_FLEX_FIELD2" property="descFlexField2" jdbcType="VARCHAR"/>
	      	<result column="DESC_FLEX_FIELD3" property="descFlexField3" jdbcType="VARCHAR"/>
	      	<result column="DESC_FLEX_FIELD4" property="descFlexField4" jdbcType="VARCHAR"/>
	      	<result column="DESC_FLEX_FIELD5" property="descFlexField5" jdbcType="VARCHAR"/>
	      	<result column="DESC_FLEX_FIELD6" property="descFlexField6" jdbcType="VARCHAR"/>
	      	<result column="ICON" property="icon" jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap id="moduleResultMap" type="com.xinri.vo.redis.Module">
		<id column="ID" property="id" jdbcType="BIGINT"/>
		<result column="NAME" property="name" jdbcType="VARCHAR"/>
		<result column="CODE" property="code" jdbcType="VARCHAR"/>
		<result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR"/>
		<result column="IS_MENU" property="isMenu" jdbcType="INTEGER"/>
		<result column="IS_OPEN" property="isOpen" jdbcType="INTEGER"/>
		<result column="DEPTH" property="depth" jdbcType="INTEGER"/>
		<result column="PARENT_MODULE_ID" property="parentModuleId" jdbcType="BIGINT"/>
		<result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER"/>
		<result column="DESCR" property="descr" jdbcType="VARCHAR"/>
		<result column="GUID_ID" property="guidId" jdbcType="VARCHAR"/>
		<result column="MENU_TYPE" property="menuType" jdbcType="INTEGER"/>
		<result column="SORT" property="sort" jdbcType="INTEGER"/>
		<result column="IS_EFFECTIVE" property="isEffective" jdbcType="INTEGER"/>
		<result column="EFFECTIVE_DATE_START" property="effectiveDateStart" jdbcType="TIMESTAMP"/>
		<result column="EFFECTIVE_DATE_END" property="effectiveDateEnd" jdbcType="TIMESTAMP"/>
		<result column="CREATED_ON" property="createdOn" jdbcType="TIMESTAMP"/>
		<result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR"/>
		<result column="MODIFIED_ON" property="modifiedOn" jdbcType="TIMESTAMP"/>
		<result column="MODIFIED_BY" property="modifiedBy" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD1" property="descFlexField1" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD2" property="descFlexField2" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD3" property="descFlexField3" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD4" property="descFlexField4" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD5" property="descFlexField5" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD6" property="descFlexField6" jdbcType="VARCHAR"/>
		<result column="ICON" property="icon" jdbcType="VARCHAR"/>
	</resultMap>

    <!-- 列定义 -->
	<sql id="moduleInfoesColumns">
	  t.ID,
	  t.NAME,
	  t.CODE,
	  t.LINK_URL,
	  t.IS_MENU,
	  t.IS_OPEN,
	  t.DEPTH,
	  t.PARENT_MODULE_ID,
	  t.IS_DELETED,
	  t.DESCR,
	  t.GUID_ID,
	  t.MENU_TYPE,
	  t.SORT,
	  t.IS_EFFECTIVE,
	  t.EFFECTIVE_DATE_START,
	  t.EFFECTIVE_DATE_END,
	  t.CREATED_ON,
	  t.CREATED_BY,
	  t.MODIFIED_ON,
	  t.MODIFIED_BY,
	  t.DESC_FLEX_FIELD1,
	  t.DESC_FLEX_FIELD2,
	  t.DESC_FLEX_FIELD3,
	  t.DESC_FLEX_FIELD4,
	  t.DESC_FLEX_FIELD5,
	  t.DESC_FLEX_FIELD6,
	  t.ICON
  	</sql>

    <!-- 查询条件SQL -->
	<sql id="whereColumnBySelect">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null">
				AND t.ID = #{id}
			</if>
			<if test="name != null and name !=''">
				AND t.NAME = #{name}
			</if>
			<if test="code != null and code !=''">
				AND t.CODE = #{code}
			</if>
			<if test="linkUrl != null and linkUrl !=''">
				AND t.LINK_URL = #{linkUrl}
			</if>
			<if test="isMenu != null">
				AND t.IS_MENU = #{isMenu}
			</if>
			<if test="isOpen != null">
				AND t.IS_OPEN = #{isOpen}
			</if>
			<if test="depth != null">
				AND t.DEPTH = #{depth}
			</if>
			<if test="parentModuleId != null">
				AND t.PARENT_MODULE_ID = #{parentModuleId}
			</if>
			<if test="isDeleted != null">
				AND t.IS_DELETED = #{isDeleted}
			</if>
			<if test="descr != null and descr !=''">
				AND t.DESCR = #{descr}
			</if>
			<if test="guidId != null and guidId !=''">
				AND t.GUID_ID = #{guidId}
			</if>
			<if test="menuType != null">
				AND t.MENU_TYPE = #{menuType}
			</if>
			<if test="sort != null">
				AND t.SORT = #{sort}
			</if>
			<if test="isEffective != null">
				AND t.IS_EFFECTIVE = #{isEffective}
			</if>
			<!--<if test="startEffectiveDateStart != null and startEffectiveDateStart !=''">-->
				<!--AND <![CDATA[ t.EFFECTIVE_DATE_START >=str_to_date(concat(#{startEffectiveDateStart},'00:00:00'),'%Y-%m-%d %T')]]>-->
			<!--</if>-->
			<!--<if test="endEffectiveDateStart != null and endEffectiveDateStart !=''">-->
				<!--AND <![CDATA[ t.EFFECTIVE_DATE_START <= str_to_date(concat(#{endEffectiveDateStart}||' 23:59:59','00:00:00'),'%Y-%m-%d %T')]]>-->
			<!--</if>-->
			<!--<if test="startEffectiveDateEnd != null and startEffectiveDateEnd !=''">-->
				<!--AND <![CDATA[ t.EFFECTIVE_DATE_END >=str_to_date(concat(#{startEffectiveDateEnd},'00:00:00'),'%Y-%m-%d %T')]]>-->
			<!--</if>-->
			<!--<if test="endEffectiveDateEnd != null and endEffectiveDateEnd !=''">-->
				<!--AND <![CDATA[ t.EFFECTIVE_DATE_END <= str_to_date(concat(#{endEffectiveDateEnd}||' 23:59:59','00:00:00'),'%Y-%m-%d %T')]]>-->
			<!--</if>-->
			<if test="startCreatedOn != null and startCreatedOn !=''">
				AND <![CDATA[ t.CREATED_ON >=str_to_date(concat(#{startCreatedOn},'00:00:00'),'%Y-%m-%d %T')]]>
			</if>
			<if test="endCreatedOn != null and endCreatedOn !=''">
				AND <![CDATA[ t.CREATED_ON <= str_to_date(concat(#{endCreatedOn}||' 23:59:59','00:00:00'),'%Y-%m-%d %T')]]>
			</if>
			<if test="createdBy != null and createdBy !=''">
				AND t.CREATED_BY = #{createdBy}
			</if>
			<if test="startModifiedOn != null and startModifiedOn !=''">
				AND <![CDATA[ t.MODIFIED_ON >=str_to_date(concat(#{startModifiedOn},'00:00:00'),'%Y-%m-%d %T')]]>
			</if>
			<if test="endModifiedOn != null and endModifiedOn !=''">
				AND <![CDATA[ t.MODIFIED_ON <= str_to_date(concat(#{endModifiedOn}||' 23:59:59','00:00:00'),'%Y-%m-%d %T')]]>
			</if>
			<if test="modifiedBy != null and modifiedBy !=''">
				AND t.MODIFIED_BY = #{modifiedBy}
			</if>
			<if test="descFlexField1 != null and descFlexField1 !=''">
				AND t.DESC_FLEX_FIELD1 = #{descFlexField1}
			</if>
			<if test="descFlexField2 != null and descFlexField2 !=''">
				AND t.DESC_FLEX_FIELD2 = #{descFlexField2}
			</if>
			<if test="descFlexField3 != null and descFlexField3 !=''">
				AND t.DESC_FLEX_FIELD3 = #{descFlexField3}
			</if>
			<if test="descFlexField4 != null and descFlexField4 !=''">
				AND t.DESC_FLEX_FIELD4 = #{descFlexField4}
			</if>
			<if test="descFlexField5 != null and descFlexField5 !=''">
				AND t.DESC_FLEX_FIELD5 = #{descFlexField5}
			</if>
			<if test="descFlexField6 != null and descFlexField6 !=''">
				AND t.DESC_FLEX_FIELD6 = #{descFlexField6}
			</if>
			<if test="icon != null and icon !=''">
				AND t.ICON = #{icon}
			</if>
		</trim>
	</sql>

    <!-- 修改字段SQL -->
	<sql id="whereColumnByUpdate">
		<trim prefix="SET" suffixOverrides=",">
			<if test="id != null">
			t.ID = #{id},
			</if>
			<if test="name != null">
			t.NAME = #{name},
			</if>
			<if test="code != null">
			t.CODE = #{code},
			</if>
			<if test="linkUrl != null">
			t.LINK_URL = #{linkUrl},
			</if>
			<if test="isMenu != null">
			t.IS_MENU = #{isMenu},
			</if>
			<if test="isOpen != null">
			t.IS_OPEN = #{isOpen},
			</if>
			<if test="depth != null">
			t.DEPTH = #{depth},
			</if>
			<if test="parentModuleId != null">
			t.PARENT_MODULE_ID = #{parentModuleId},
			</if>
			<if test="isDeleted != null">
			t.IS_DELETED = #{isDeleted},
			</if>
			<if test="descr != null">
			t.DESCR = #{descr},
			</if>
			<if test="guidId != null">
			t.GUID_ID = #{guidId},
			</if>
			<if test="menuType != null">
				t.MENU_TYPE = #{menuType},
			</if>
			<if test="sort != null">
				t.SORT = #{sort},
			</if>
			<if test="isEffective != null">
			t.IS_EFFECTIVE = #{isEffective},
			</if>
			<if test="effectiveDateStart != null">
			t.EFFECTIVE_DATE_START = #{effectiveDateStart},
			</if>
			<if test="effectiveDateEnd != null">
			t.EFFECTIVE_DATE_END = #{effectiveDateEnd},
			</if>
			<if test="createdOn != null">
			t.CREATED_ON = #{createdOn},
			</if>
			<if test="createdBy != null">
			t.CREATED_BY = #{createdBy},
			</if>
			<if test="modifiedOn != null">
			t.MODIFIED_ON = #{modifiedOn},
			</if>
			<if test="modifiedBy != null">
			t.MODIFIED_BY = #{modifiedBy},
			</if>
			<if test="descFlexField1 != null">
			t.DESC_FLEX_FIELD1 = #{descFlexField1},
			</if>
			<if test="descFlexField2 != null">
			t.DESC_FLEX_FIELD2 = #{descFlexField2},
			</if>
			<if test="descFlexField3 != null">
			t.DESC_FLEX_FIELD3 = #{descFlexField3},
			</if>
			<if test="descFlexField4 != null">
			t.DESC_FLEX_FIELD4 = #{descFlexField4},
			</if>
			<if test="descFlexField5 != null">
			t.DESC_FLEX_FIELD5 = #{descFlexField5},
			</if>
			<if test="descFlexField6 != null">
			t.DESC_FLEX_FIELD6 = #{descFlexField6},
			</if>
			<if test="icon != null">
			t.ICON = #{icon},
			</if>
		</trim>
	</sql>

    <!-- 根据主键ID获取数据 -->
	<select id="get" parameterType="com.xinri.po.moduleInfo.ModuleInfoes" resultMap="moduleInfoesResultMap">
		SELECT <include refid="moduleInfoesColumns" /> 
		FROM MODULE_INFOES t 
		WHERE t.ID = #{id}
	</select>
    <!-- 查询列表可以根据分页进行查询 -->
	<select id="findList" parameterType="com.xinri.po.moduleInfo.ModuleInfoes" resultMap="moduleInfoesResultMap">
		SELECT
		<include refid="moduleInfoesColumns" /> 
		FROM MODULE_INFOES t 
		<include refid="whereColumnBySelect" />
		ORDER BY sort,modified_on DESC,created_on DESC
	</select>

    <!-- 查询所有列表 -->
	<select id="findAllList" parameterType="com.xinri.po.moduleInfo.ModuleInfoes" resultMap="moduleInfoesResultMap">
		SELECT
		<include refid="moduleInfoesColumns" /> 
		FROM MODULE_INFOES t 	
		<include refid="whereColumnBySelect" />
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}			
			</when>
				<otherwise>
				ORDER BY  t.ID DESC
				</otherwise>
			
		</choose>
		
		
	</select>

    <!-- 根据条件查询对象 -->
	<select id="getByEntity" parameterType="com.xinri.po.moduleInfo.ModuleInfoes" resultMap="moduleInfoesResultMap">
		SELECT <include refid="moduleInfoesColumns" /> 
		FROM MODULE_INFOES t 
		<include refid="whereColumnBySelect"></include>
	</select>
	
    <!-- 新增并设置主键ID至参数对象 -->
	<insert id="insert" parameterType="com.xinri.po.moduleInfo.ModuleInfoes">

		INSERT INTO MODULE_INFOES
			(ID, NAME, CODE, LINK_URL, IS_MENU, IS_OPEN, DEPTH, PARENT_MODULE_ID, IS_DELETED, DESCR, GUID_ID,MENU_TYPE,SORT, IS_EFFECTIVE, EFFECTIVE_DATE_START, EFFECTIVE_DATE_END, CREATED_ON, CREATED_BY, MODIFIED_ON, MODIFIED_BY, DESC_FLEX_FIELD1, DESC_FLEX_FIELD2, DESC_FLEX_FIELD3, DESC_FLEX_FIELD4, DESC_FLEX_FIELD5, DESC_FLEX_FIELD6)
		VALUES
			(#{id}, #{name}, #{code}, #{linkUrl}, #{isMenu}, #{isOpen}, #{depth}, #{parentModuleId}, #{isDeleted}, #{descr}, #{guidId},#{menuType}, #{sort},#{isEffective}, #{effectiveDateStart}, #{effectiveDateEnd}, #{createdOn}, #{createdBy}, #{modifiedOn}, #{modifiedBy}, #{descFlexField1}, #{descFlexField2}, #{descFlexField3}, #{descFlexField4}, #{descFlexField5}, #{descFlexField6})
	</insert>
    <!-- 新增并设置主键ID判断哪些列不为空时，则进行插入 -->
	<insert id="insertSelective" parameterType="com.xinri.po.moduleInfo.ModuleInfoes" useGeneratedKeys="true" keyProperty="id" >
		
	    INSERT INTO MODULE_INFOES
	    <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="code != null">
				CODE,
			</if>
			<if test="linkUrl != null">
				LINK_URL,
			</if>
			<if test="isMenu != null">
				IS_MENU,
			</if>
			<if test="isOpen != null">
				IS_OPEN,
			</if>
			<if test="depth != null">
				DEPTH,
			</if>
			<if test="parentModuleId != null">
				PARENT_MODULE_ID,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="descr != null">
				DESCR,
			</if>
			<if test="guidId != null">
				GUID_ID,
			</if>
			<if test="menuType != null">
				MENU_TYPE,
			</if>
			<if test="sort != null">
				SORT,
			</if>
			<if test="isEffective != null">
				IS_EFFECTIVE,
			</if>
			<if test="effectiveDateStart != null">
				EFFECTIVE_DATE_START,
			</if>
			<if test="effectiveDateEnd != null">
				EFFECTIVE_DATE_END,
			</if>
			<if test="createdOn != null">
				CREATED_ON,
			</if>
			<if test="createdBy != null">
				CREATED_BY,
			</if>
			<if test="modifiedOn != null">
				MODIFIED_ON,
			</if>
			<if test="modifiedBy != null">
				MODIFIED_BY,
			</if>
			<if test="descFlexField1 != null">
				DESC_FLEX_FIELD1,
			</if>
			<if test="descFlexField2 != null">
				DESC_FLEX_FIELD2,
			</if>
			<if test="descFlexField3 != null">
				DESC_FLEX_FIELD3,
			</if>
			<if test="descFlexField4 != null">
				DESC_FLEX_FIELD4,
			</if>
			<if test="descFlexField5 != null">
				DESC_FLEX_FIELD5,
			</if>
			<if test="descFlexField6 != null">
				DESC_FLEX_FIELD6,
			</if>
			<if test="icon != null">
				ICON,
			</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="id != null">
				#{id,jdbcType=BIGINT},
		  </if>
		  <if test="name != null">
				#{name,jdbcType=VARCHAR},
		  </if>
		  <if test="code != null">
				#{code,jdbcType=VARCHAR},
		  </if>
		  <if test="linkUrl != null">
				#{linkUrl,jdbcType=VARCHAR},
		  </if>
		  <if test="isMenu != null">
				#{isMenu,jdbcType=INTEGER},
		  </if>
		  <if test="isOpen != null">
				#{isOpen,jdbcType=INTEGER},
		  </if>
		  <if test="depth != null">
				#{depth,jdbcType=INTEGER},
		  </if>
		  <if test="parentModuleId != null">
				#{parentModuleId,jdbcType=BIGINT},
		  </if>
		  <if test="isDeleted != null">
				#{isDeleted,jdbcType=INTEGER},
		  </if>
		  <if test="descr != null">
				#{descr,jdbcType=VARCHAR},
		  </if>
		  <if test="guidId != null">
				#{guidId,jdbcType=VARCHAR},
		  </if>
			<if test="menuType != null">
				#{menuType,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=VARCHAR},
			</if>
		  <if test="isEffective != null">
				#{isEffective,jdbcType=INTEGER},
		  </if>
		  <if test="effectiveDateStart != null">
				#{effectiveDateStart,jdbcType=TIMESTAMP},
		  </if>
		  <if test="effectiveDateEnd != null">
				#{effectiveDateEnd,jdbcType=TIMESTAMP},
		  </if>
		  <if test="createdOn != null">
				#{createdOn,jdbcType=TIMESTAMP},
		  </if>
		  <if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
		  </if>
		  <if test="modifiedOn != null">
				#{modifiedOn,jdbcType=TIMESTAMP},
		  </if>
		  <if test="modifiedBy != null">
				#{modifiedBy,jdbcType=VARCHAR},
		  </if>
		  <if test="descFlexField1 != null">
				#{descFlexField1,jdbcType=VARCHAR},
		  </if>
		  <if test="descFlexField2 != null">
				#{descFlexField2,jdbcType=VARCHAR},
		  </if>
		  <if test="descFlexField3 != null">
				#{descFlexField3,jdbcType=VARCHAR},
		  </if>
		  <if test="descFlexField4 != null">
				#{descFlexField4,jdbcType=VARCHAR},
		  </if>
		  <if test="descFlexField5 != null">
				#{descFlexField5,jdbcType=VARCHAR},
		  </if>
		  <if test="descFlexField6 != null">
				#{descFlexField6,jdbcType=VARCHAR},
		  </if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
		  </if>
	    </trim>
  	</insert>

    <!-- 根据主键ID进行修改 -->
  	<update id="update" parameterType="com.xinri.po.moduleInfo.ModuleInfoes">
		UPDATE MODULE_INFOES t 
		<include refid="whereColumnByUpdate"></include>
		<where>
			t.ID = #{id,jdbcType=BIGINT}
		</where>
	</update>

    <!-- 根据条件进行修改 -->
	<update id="updateByCondition" parameterType="com.xinri.po.moduleInfo.ModuleInfoes">
		UPDATE MODULE_INFOES t 
		<include refid="whereColumnByUpdate"></include>
		<where>${whereSqlParam}</where>
	</update>

    <!-- 根据主键ID进行逻辑删除 -->
	<update id="delete" parameterType="com.xinri.po.moduleInfo.ModuleInfoes">
		UPDATE MODULE_INFOES t SET 
		t.IS_DELETED = 1
		WHERE t.ID = #{id,jdbcType=BIGINT}
	</update>

    <!-- 根据主键ID进行批量逻辑删除 -->
	<update id="batchDelete" parameterType="java.util.List">
		UPDATE MODULE_INFOES t SET 
		t.IS_DELETED = 1
		WHERE t.ID IN
		<foreach item="item" collection="list" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>

    <!-- 根据条件进行逻辑删除 -->
	<update id="deleteByEntity" parameterType="com.xinri.po.moduleInfo.ModuleInfoes">
		UPDATE MODULE_INFOES t SET 
			t.IS_DELETED = 1
		<include refid="whereColumnBySelect"/>
	</update>

    <!-- 根据主键ID进行物理删除 -->
	<delete id="remove" parameterType="com.xinri.po.moduleInfo.ModuleInfoes">
		DELETE FROM MODULE_INFOES
		WHERE ID = #{id,jdbcType=BIGINT}
	</delete>

    <!-- 根据主键ID进行批量物理删除 -->
	<delete id="batchRemove" parameterType="java.util.List">
		DELETE FROM MODULE_INFOES t 
		WHERE t.ID IN
		<foreach item="item" collection="list" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

    <!-- 根据条件进行物理删除 -->
	<update id="removeByCondition" parameterType="com.xinri.po.moduleInfo.ModuleInfoes">
		DELETE FROM MODULE_INFOES t 
		<where>${whereSqlParam}</where>
	</update>

	<select id="getModulesForRole" parameterType="java.util.List" resultMap="moduleInfoesResultMap">
		SELECT
		<include refid="moduleInfoesColumns" />
		FROM MODULE_INFOES t
		WHERE t.id in
		<foreach item="id" index="index" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
		and t.is_menu=0
		and t.is_deleted=0

	</select>

	<resultMap  id="redisResultMap" type="com.xinri.vo.redis.Redis">
		<result column="USER_NAME" property="loginName" jdbcType="VARCHAR"/>
		<result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
		<result column="SALT" property="salt" jdbcType="VARCHAR"/>
		<collection property="moduleInfoesList" ofType="com.xinri.vo.redis.Module" column="id" javaType="java.util.ArrayList" resultMap="moduleResultMap">
		</collection>
        <collection property="roles" ofType="com.xinri.po.role.Roles" column="id" javaType="java.util.ArrayList" resultMap="rolesResultMap">
        </collection>
	</resultMap>

    <sql id="rolesColumns">
        r.ID ROLE_ID,
		r.NAME ROLE_NAME,
		r.ROLE_CLASS_ID ROLE_ROLE_CLASS_ID,
		r.IS_DELETED ROLE_IS_DELETED,
		r.DESCR ROLE_DESCR,
		r.GUID_ID ROLE_GUID_ID,
		r.IS_EFFECTIVE ROLE_IS_EFFECTIVE,
		r.EFFECTIVE_DATE_START ROLE_EFFECTIVE_DATE_START,
		r.EFFECTIVE_DATE_END ROLE_EFFECTIVE_DATE_END,
		r.CREATED_ON ROLE_CREATED_ON,
		r.CREATED_BY ROLE_CREATED_BY,
		r.MODIFIED_ON ROLE_MODIFIED_ON,
		r.MODIFIED_BY ROLE_MODIFIED_BY,
		r.DESC_FLEX_FIELD1 ROLE_DESC_FLEX_FIELD1,
		r.DESC_FLEX_FIELD2 ROLE_DESC_FLEX_FIELD2,
		r.DESC_FLEX_FIELD3 ROLE_DESC_FLEX_FIELD3,
		r.DESC_FLEX_FIELD4 ROLE_DESC_FLEX_FIELD4,
		r.DESC_FLEX_FIELD5 ROLE_DESC_FLEX_FIELD5,
		r.DESC_FLEX_FIELD6 ROLE_DESC_FLEX_FIELD6
    </sql>

	<sql id="permissionsColumns">
        r.ID PER_ID,
	  	r.NAME PER_NAME,
	  	r.CODE PER_CODE,
	  	r.IS_DELETED PER_IS_DELETED,
	  	r.DESCR PER_DESCR,
	  	r.GUID_ID PER_GUID_ID,
	  	r.IS_EFFECTIVE PER_IS_EFFECTIVE,
	  	r.EFFECTIVE_DATE_START PER_EFFECTIVE_DATE_START,
	  	r.EFFECTIVE_DATE_END PER_EFFECTIVE_DATE_END,
	  	r.CREATED_ON PER_CREATED_ON,
	  	r.CREATED_BY PER_CREATED_BY,
	  	r.MODIFIED_ON PER_MODIFIED_ON,
	  	r.MODIFIED_BY PER_MODIFIED_BY,
	  	r.DESC_FLEX_FIELD1 PER_DESC_FLEX_FIELD1,
	  	r.DESC_FLEX_FIELD2 PER_DESC_FLEX_FIELD2,
	  	r.DESC_FLEX_FIELD3 PER_DESC_FLEX_FIELD3,
	  	r.DESC_FLEX_FIELD4 PER_DESC_FLEX_FIELD4,
	  	r.DESC_FLEX_FIELD5 PER_DESC_FLEX_FIELD5,
	  	r.DESC_FLEX_FIELD6 PER_DESC_FLEX_FIELD6
    </sql>

	<resultMap id="rolesResultMap" type="com.xinri.po.role.Roles">
        <id column="ROLE_ID" property="id" jdbcType="BIGINT"/>
        <result column="ROLE_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="ROLE_ROLE_CLASS_ID" property="roleClassId" jdbcType="BIGINT"/>
        <result column="ROLE_IS_DELETED" property="isDeleted" jdbcType="INTEGER"/>
        <result column="ROLE_DESCR" property="descr" jdbcType="VARCHAR"/>
        <result column="ROLE_GUID_ID" property="guidId" jdbcType="VARCHAR"/>
        <result column="ROLE_IS_EFFECTIVE" property="isEffective" jdbcType="INTEGER"/>
        <result column="ROLE_EFFECTIVE_DATE_START" property="effectiveDateStart" jdbcType="TIMESTAMP"/>
        <result column="ROLE_EFFECTIVE_DATE_END" property="effectiveDateEnd" jdbcType="TIMESTAMP"/>
        <result column="ROLE_CREATED_ON" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="ROLE_CREATED_BY" property="createdBy" jdbcType="VARCHAR"/>
        <result column="ROLE_MODIFIED_ON" property="modifiedOn" jdbcType="TIMESTAMP"/>
        <result column="ROLE_MODIFIED_BY" property="modifiedBy" jdbcType="VARCHAR"/>
        <result column="ROLE_DESC_FLEX_FIELD1" property="descFlexField1" jdbcType="VARCHAR"/>
        <result column="ROLE_DESC_FLEX_FIELD2" property="descFlexField2" jdbcType="VARCHAR"/>
        <result column="ROLE_DESC_FLEX_FIELD3" property="descFlexField3" jdbcType="VARCHAR"/>
        <result column="ROLE_DESC_FLEX_FIELD4" property="descFlexField4" jdbcType="VARCHAR"/>
        <result column="ROLE_DESC_FLEX_FIELD5" property="descFlexField5" jdbcType="VARCHAR"/>
        <result column="ROLE_DESC_FLEX_FIELD6" property="descFlexField6" jdbcType="VARCHAR"/>
    </resultMap>

	<resultMap id="permissionsResultMap" type="com.xinri.po.permissions.Permissions">
		<id column="PER_ID" property="id" jdbcType="BIGINT"/>
		<result column="PER_NAME" property="name" jdbcType="VARCHAR"/>
		<result column="PER_CODE" property="code" jdbcType="VARCHAR"/>
		<result column="PER_IS_DELETED" property="isDeleted" jdbcType="INTEGER"/>
		<result column="PER_DESCR" property="descr" jdbcType="VARCHAR"/>
		<result column="PER_GUID_ID" property="guidId" jdbcType="VARCHAR"/>
		<result column="PER_IS_EFFECTIVE" property="isEffective" jdbcType="INTEGER"/>
		<result column="PER_EFFECTIVE_DATE_START" property="effectiveDateStart" jdbcType="TIMESTAMP"/>
		<result column="PER_EFFECTIVE_DATE_END" property="effectiveDateEnd" jdbcType="TIMESTAMP"/>
		<result column="PER_CREATED_ON" property="createdOn" jdbcType="TIMESTAMP"/>
		<result column="PER_CREATED_BY" property="createdBy" jdbcType="VARCHAR"/>
		<result column="PER_MODIFIED_ON" property="modifiedOn" jdbcType="TIMESTAMP"/>
		<result column="PER_MODIFIED_BY" property="modifiedBy" jdbcType="VARCHAR"/>
		<result column="PER_DESC_FLEX_FIELD1" property="descFlexField1" jdbcType="VARCHAR"/>
		<result column="PER_DESC_FLEX_FIELD2" property="descFlexField2" jdbcType="VARCHAR"/>
		<result column="PER_DESC_FLEX_FIELD3" property="descFlexField3" jdbcType="VARCHAR"/>
		<result column="PER_DESC_FLEX_FIELD4" property="descFlexField4" jdbcType="VARCHAR"/>
		<result column="PER_DESC_FLEX_FIELD5" property="descFlexField5" jdbcType="VARCHAR"/>
		<result column="PER_DESC_FLEX_FIELD6" property="descFlexField6" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="getModulesByUserId" parameterType="java.lang.Long" resultMap="redisResultMap">
		SELECT
        distinct
        <include refid="moduleInfoesColumns" />,
        <include refid="rolesColumns" />,
		u.USER_NAME,u.PASSWORD,u.SALT
		from users u
		inner join user_user_groups uug on u.id = uug.user_id
		inner join departments d on u.department_id=d.id
		left join user_group_departments ugd on d.id = ugd.department_id
		inner join user_groups ug on ug.id=uug.user_group_id or ug.id=ugd.user_group_id
		inner join role_user_groups rug on ug.id=rug.user_group_id
		inner join roles r on rug.role_id=r.id
		inner join role_module_infos rmi on r.id=rmi.role_id
		inner join module_infoes t on rmi.module_info_id=t.id
		where u.id=#{id}
		and u.is_deleted=0	and uug.is_deleted=0
		and d.is_deleted=0	and ugd.is_deleted=0
		and ug.is_deleted=0	and rug.is_deleted=0
		and r.is_deleted=0	and rmi.is_deleted=0
		and t.is_deleted=0
		AND t.is_effective=1
		AND rmi.is_effective=1
		order BY t.sort asc

	</select>

	<select id="getModulesBySysUserId" parameterType="java.lang.Long" resultMap="redisResultMap">
		SELECT
		distinct
		<include refid="moduleInfoesColumns" />,
		<include refid="rolesColumns" />,
		u.NAME,u.PASSWORD,u.SALT
		from sys_user u
		inner join roles r on u.roleid=r.id
		inner join role_module_infos rmi on r.id=rmi.role_id
		inner join module_infoes t on rmi.module_info_id=t.id
		where u.id = #{id}
		and u.is_deleted=0
		and r.is_deleted=0
		and rmi.is_deleted=0
		and t.is_deleted=0
		AND t.is_effective=1
		AND rmi.is_effective=1
		order BY t.sort asc

	</select>

</mapper>