<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinri.dao.roleModuleInfos.RoleModuleInfosMapper">
	<resultMap id="roleModuleInfosResultMap" type="com.xinri.po.roleModuleInfos.RoleModuleInfos">
		<id column="ID" property="id" jdbcType="BIGINT"/>
		<result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER"/>
		<result column="DESCR" property="descr" jdbcType="VARCHAR"/>
		<result column="GUID_ID" property="guidId" jdbcType="VARCHAR"/>
		<result column="IS_EFFECTIVE" property="isEffective" jdbcType="INTEGER"/>
		<result column="EFFECTIVE_DATE_START" property="effectiveDateStart" jdbcType="TIMESTAMP"/>
		<result column="EFFECTIVE_DATE_END" property="effectiveDateEnd" jdbcType="TIMESTAMP"/>
		<result column="CREATED_ON" property="createdOn" jdbcType="TIMESTAMP"/>
		<result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR"/>
		<result column="MODIFIED_ON" property="modifiedOn" jdbcType="TIMESTAMP"/>
		<result column="MODIFIED_BY" property="modifiedBy" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD1" property="descFlexField1" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD2" property="descFlexField2" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD3" property="descFlexField3" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD4" property="descFlexField4" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD5" property="descFlexField5" jdbcType="VARCHAR"/>
		<result column="DESC_FLEX_FIELD6" property="descFlexField6" jdbcType="VARCHAR"/>
		<result column="MODULE_INFO_ID" property="moduleInfoId" jdbcType="BIGINT"/>
		<result column="ROLE_ID" property="roleId" jdbcType="BIGINT"/>
	</resultMap>

	<!-- 列定义 -->
	<sql id="roleModuleInfosColumns">
	  t.ID,
	  t.IS_DELETED,
	  t.DESCR,
	  t.GUID_ID,
	  t.IS_EFFECTIVE,
	  t.EFFECTIVE_DATE_START,
	  t.EFFECTIVE_DATE_END,
	  t.CREATED_ON,
	  t.CREATED_BY,
	  t.MODIFIED_ON,
	  t.MODIFIED_BY,
	  t.DESC_FLEX_FIELD1,
	  t.DESC_FLEX_FIELD2,
	  t.DESC_FLEX_FIELD3,
	  t.DESC_FLEX_FIELD4,
	  t.DESC_FLEX_FIELD5,
	  t.DESC_FLEX_FIELD6,
	  t.MODULE_INFO_ID,
	  t.ROLE_ID
  	</sql>

	<!-- 查询条件SQL -->
	<sql id="whereColumnBySelect">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null">
				AND t.ID = #{id}
			</if>
			<if test="isDeleted != null">
				AND t.IS_DELETED = #{isDeleted}
			</if>
			<if test="descr != null and descr !=''">
				AND t.DESCR = #{descr}
			</if>
			<if test="guidId != null and guidId !=''">
				AND t.GUID_ID = #{guidId}
			</if>
			<if test="isEffective != null">
				AND t.IS_EFFECTIVE = #{isEffective}
			</if>
			<!--<if test="startEffectiveDateStart != null and startEffectiveDateStart !=''">-->
			<!--AND <![CDATA[ t.EFFECTIVE_DATE_START >=str_to_date(concat(#{startEffectiveDateStart},'00:00:00'),'%Y-%m-%d %T')]]>-->
			<!--</if>-->
			<!--<if test="endEffectiveDateStart != null and endEffectiveDateStart !=''">-->
			<!--AND <![CDATA[ t.EFFECTIVE_DATE_START <= str_to_date(concat(#{endEffectiveDateStart}||' 23:59:59','00:00:00'),'%Y-%m-%d %T')]]>-->
			<!--</if>-->
			<!--<if test="startEffectiveDateEnd != null and startEffectiveDateEnd !=''">-->
			<!--AND <![CDATA[ t.EFFECTIVE_DATE_END >=str_to_date(concat(#{startEffectiveDateEnd},'00:00:00'),'%Y-%m-%d %T')]]>-->
			<!--</if>-->
			<!--<if test="endEffectiveDateEnd != null and endEffectiveDateEnd !=''">-->
			<!--AND <![CDATA[ t.EFFECTIVE_DATE_END <= str_to_date(concat(#{endEffectiveDateEnd}||' 23:59:59','00:00:00'),'%Y-%m-%d %T')]]>-->
			<!--</if>-->
			<if test="startCreatedOn != null and startCreatedOn !=''">
				AND <![CDATA[ t.CREATED_ON >=str_to_date(concat(#{startCreatedOn},'00:00:00'),'%Y-%m-%d %T')]]>
			</if>
			<if test="endCreatedOn != null and endCreatedOn !=''">
				AND <![CDATA[ t.CREATED_ON <= str_to_date(concat(#{endCreatedOn}||' 23:59:59','00:00:00'),'%Y-%m-%d %T')]]>
			</if>
			<if test="createdBy != null and createdBy !=''">
				AND t.CREATED_BY = #{createdBy}
			</if>
			<if test="startModifiedOn != null and startModifiedOn !=''">
				AND <![CDATA[ t.MODIFIED_ON >=str_to_date(concat(#{startModifiedOn},'00:00:00'),'%Y-%m-%d %T')]]>
			</if>
			<if test="endModifiedOn != null and endModifiedOn !=''">
				AND <![CDATA[ t.MODIFIED_ON <= str_to_date(concat(#{endModifiedOn}||' 23:59:59','00:00:00'),'%Y-%m-%d %T')]]>
			</if>
			<if test="modifiedBy != null and modifiedBy !=''">
				AND t.MODIFIED_BY = #{modifiedBy}
			</if>
			<if test="descFlexField1 != null and descFlexField1 !=''">
				AND t.DESC_FLEX_FIELD1 = #{descFlexField1}
			</if>
			<if test="descFlexField2 != null and descFlexField2 !=''">
				AND t.DESC_FLEX_FIELD2 = #{descFlexField2}
			</if>
			<if test="descFlexField3 != null and descFlexField3 !=''">
				AND t.DESC_FLEX_FIELD3 = #{descFlexField3}
			</if>
			<if test="descFlexField4 != null and descFlexField4 !=''">
				AND t.DESC_FLEX_FIELD4 = #{descFlexField4}
			</if>
			<if test="descFlexField5 != null and descFlexField5 !=''">
				AND t.DESC_FLEX_FIELD5 = #{descFlexField5}
			</if>
			<if test="descFlexField6 != null and descFlexField6 !=''">
				AND t.DESC_FLEX_FIELD6 = #{descFlexField6}
			</if>
			<if test="moduleInfoId != null">
				AND t.MODULE_INFO_ID = #{moduleInfoId}
			</if>
			<if test="roleId != null">
				AND t.ROLE_ID = #{roleId}
			</if>
		</trim>
	</sql>

	<!-- 修改字段SQL -->
	<sql id="whereColumnByUpdate">
		<trim prefix="SET" suffixOverrides=",">
			<if test="id != null">
				t.ID = #{id},
			</if>
			<if test="isDeleted != null">
				t.IS_DELETED = #{isDeleted},
			</if>
			<if test="descr != null">
				t.DESCR = #{descr},
			</if>
			<if test="guidId != null">
				t.GUID_ID = #{guidId},
			</if>
			<if test="isEffective != null">
				t.IS_EFFECTIVE = #{isEffective},
			</if>
			<if test="effectiveDateStart != null">
				t.EFFECTIVE_DATE_START = #{effectiveDateStart},
			</if>
			<if test="effectiveDateEnd != null">
				t.EFFECTIVE_DATE_END = #{effectiveDateEnd},
			</if>
			<if test="createdOn != null">
				t.CREATED_ON = #{createdOn},
			</if>
			<if test="createdBy != null">
				t.CREATED_BY = #{createdBy},
			</if>
			<if test="modifiedOn != null">
				t.MODIFIED_ON = #{modifiedOn},
			</if>
			<if test="modifiedBy != null">
				t.MODIFIED_BY = #{modifiedBy},
			</if>
			<if test="descFlexField1 != null">
				t.DESC_FLEX_FIELD1 = #{descFlexField1},
			</if>
			<if test="descFlexField2 != null">
				t.DESC_FLEX_FIELD2 = #{descFlexField2},
			</if>
			<if test="descFlexField3 != null">
				t.DESC_FLEX_FIELD3 = #{descFlexField3},
			</if>
			<if test="descFlexField4 != null">
				t.DESC_FLEX_FIELD4 = #{descFlexField4},
			</if>
			<if test="descFlexField5 != null">
				t.DESC_FLEX_FIELD5 = #{descFlexField5},
			</if>
			<if test="descFlexField6 != null">
				t.DESC_FLEX_FIELD6 = #{descFlexField6},
			</if>
			<if test="moduleInfoId != null">
				t.MODULE_INFO_ID = #{moduleInfoId},
			</if>
			<if test="roleId != null">
				t.ROLE_ID = #{roleId},
			</if>
		</trim>
	</sql>

	<!-- 根据主键ID获取数据 -->
	<select id="get" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos" resultMap="roleModuleInfosResultMap">
		SELECT <include refid="roleModuleInfosColumns" />
		FROM ROLE_MODULE_INFOS t
		WHERE t.ID = #{id}
	</select>
	<!-- 查询列表可以根据分页进行查询 -->
	<select id="findList" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos" resultMap="roleModuleInfosResultMap">
		SELECT
		<include refid="roleModuleInfosColumns" />
		FROM ROLE_MODULE_INFOS t
		<include refid="whereColumnBySelect" />
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY t.ID DESC
			</otherwise>

		</choose>
	</select>

	<!-- 查询所有列表 -->
	<select id="findAllList" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos" resultMap="roleModuleInfosResultMap">
		SELECT
		<include refid="roleModuleInfosColumns" />
		FROM ROLE_MODULE_INFOS t
		<include refid="whereColumnBySelect" />
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY  t.ID DESC
			</otherwise>

		</choose>


	</select>

	<!-- 根据条件查询对象 -->
	<select id="getByEntity" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos" resultMap="roleModuleInfosResultMap">
		SELECT <include refid="roleModuleInfosColumns" />
		FROM ROLE_MODULE_INFOS t
		<include refid="whereColumnBySelect"></include>
	</select>

	<!-- 新增并设置主键ID至参数对象 -->
	<insert id="insert" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos">

		INSERT INTO ROLE_MODULE_INFOS
			(ID, IS_DELETED, DESCR, GUID_ID, IS_EFFECTIVE, EFFECTIVE_DATE_START, EFFECTIVE_DATE_END, CREATED_ON, CREATED_BY, MODIFIED_ON, MODIFIED_BY, DESC_FLEX_FIELD1, DESC_FLEX_FIELD2, DESC_FLEX_FIELD3, DESC_FLEX_FIELD4, DESC_FLEX_FIELD5, DESC_FLEX_FIELD6, MODULE_INFO_ID, ROLE_ID)
		VALUES
			(#{id}, #{isDeleted}, #{descr}, #{guidId}, #{isEffective}, #{effectiveDateStart}, #{effectiveDateEnd}, #{createdOn}, #{createdBy}, #{modifiedOn}, #{modifiedBy}, #{descFlexField1}, #{descFlexField2}, #{descFlexField3}, #{descFlexField4}, #{descFlexField5}, #{descFlexField6}, #{moduleInfoId}, #{roleId})
	</insert>
	<!-- 新增并设置主键ID判断哪些列不为空时，则进行插入 -->
	<insert id="insertSelective" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos" useGeneratedKeys="true" keyProperty="id" >

		INSERT INTO ROLE_MODULE_INFOS
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				ID,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="descr != null">
				DESCR,
			</if>
			<if test="guidId != null">
				GUID_ID,
			</if>
			<if test="isEffective != null">
				IS_EFFECTIVE,
			</if>
			<if test="effectiveDateStart != null">
				EFFECTIVE_DATE_START,
			</if>
			<if test="effectiveDateEnd != null">
				EFFECTIVE_DATE_END,
			</if>
			<if test="createdOn != null">
				CREATED_ON,
			</if>
			<if test="createdBy != null">
				CREATED_BY,
			</if>
			<if test="modifiedOn != null">
				MODIFIED_ON,
			</if>
			<if test="modifiedBy != null">
				MODIFIED_BY,
			</if>
			<if test="descFlexField1 != null">
				DESC_FLEX_FIELD1,
			</if>
			<if test="descFlexField2 != null">
				DESC_FLEX_FIELD2,
			</if>
			<if test="descFlexField3 != null">
				DESC_FLEX_FIELD3,
			</if>
			<if test="descFlexField4 != null">
				DESC_FLEX_FIELD4,
			</if>
			<if test="descFlexField5 != null">
				DESC_FLEX_FIELD5,
			</if>
			<if test="descFlexField6 != null">
				DESC_FLEX_FIELD6,
			</if>
			<if test="moduleInfoId != null">
				MODULE_INFO_ID,
			</if>
			<if test="roleId != null">
				ROLE_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=INTEGER},
			</if>
			<if test="descr != null">
				#{descr,jdbcType=VARCHAR},
			</if>
			<if test="guidId != null">
				#{guidId,jdbcType=VARCHAR},
			</if>
			<if test="isEffective != null">
				#{isEffective,jdbcType=INTEGER},
			</if>
			<if test="effectiveDateStart != null">
				#{effectiveDateStart,jdbcType=TIMESTAMP},
			</if>
			<if test="effectiveDateEnd != null">
				#{effectiveDateEnd,jdbcType=TIMESTAMP},
			</if>
			<if test="createdOn != null">
				#{createdOn,jdbcType=TIMESTAMP},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="modifiedOn != null">
				#{modifiedOn,jdbcType=TIMESTAMP},
			</if>
			<if test="modifiedBy != null">
				#{modifiedBy,jdbcType=VARCHAR},
			</if>
			<if test="descFlexField1 != null">
				#{descFlexField1,jdbcType=VARCHAR},
			</if>
			<if test="descFlexField2 != null">
				#{descFlexField2,jdbcType=VARCHAR},
			</if>
			<if test="descFlexField3 != null">
				#{descFlexField3,jdbcType=VARCHAR},
			</if>
			<if test="descFlexField4 != null">
				#{descFlexField4,jdbcType=VARCHAR},
			</if>
			<if test="descFlexField5 != null">
				#{descFlexField5,jdbcType=VARCHAR},
			</if>
			<if test="descFlexField6 != null">
				#{descFlexField6,jdbcType=VARCHAR},
			</if>
			<if test="moduleInfoId != null">
				#{moduleInfoId,jdbcType=BIGINT},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<!-- 根据主键ID进行修改 -->
	<update id="update" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos">
		UPDATE ROLE_MODULE_INFOS t
		<include refid="whereColumnByUpdate"></include>
		<where>
			t.ID = #{id,jdbcType=BIGINT}
		</where>
	</update>

	<!-- 根据条件进行修改 -->
	<update id="updateByCondition" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos">
		UPDATE ROLE_MODULE_INFOS t
		<include refid="whereColumnByUpdate"></include>
		<where>${whereSqlParam}</where>
	</update>

	<!-- 根据主键ID进行逻辑删除 -->
	<update id="delete" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos">
		UPDATE ROLE_MODULE_INFOS t SET
		t.IS_DELETED = 1
		WHERE t.ID = #{id,jdbcType=BIGINT}
	</update>

	<!-- 根据主键ID进行批量逻辑删除 -->
	<update id="batchDelete" parameterType="java.util.List">
		UPDATE ROLE_MODULE_INFOS t SET
		t.IS_DELETED = 1
		WHERE t.ID IN
		<foreach item="item" collection="list" index="index" open="("
				 separator="," close=")">
			#{item}
		</foreach>
	</update>

	<!-- 根据条件进行逻辑删除 -->
	<update id="deleteByEntity" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos">
		UPDATE ROLE_MODULE_INFOS t SET
		t.IS_DELETED = 1
		<include refid="whereColumnBySelect"/>
	</update>

	<!-- 根据主键ID进行物理删除 -->
	<delete id="remove" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos">
		DELETE FROM ROLE_MODULE_INFOS t
		WHERE t.ID = #{id,jdbcType=BIGINT}
	</delete>

	<!-- 根据主键ID进行批量物理删除 -->
	<delete id="batchRemove" parameterType="java.util.List">
		DELETE FROM ROLE_MODULE_INFOS t
		WHERE t.ID IN
		<foreach item="item" collection="list" index="index" open="("
				 separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 根据条件进行物理删除 -->
	<update id="removeByCondition" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos">
		DELETE FROM ROLE_MODULE_INFOS t
		<where>${whereSqlParam}</where>
	</update>

	<delete id="removeByEntity" parameterType="com.xinri.po.roleModuleInfos.RoleModuleInfos">
		delete FROM ROLE_MODULE_INFOS
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="moduleInfoId != null">
				AND MODULE_INFO_ID = #{moduleInfoId}
			</if>
		</trim>
	</delete>

	<select id="getModuleIds" parameterType="java.lang.Long" resultType="java.lang.Long">
		  select module_info_id FROM role_module_infos where role_id = #{id}
	</select>
</mapper>